# Ignorer les dossiers et fichiers créés par Terraform
.terraform/          # Dossier contenant les fichiers d'état et plugins téléchargés
*.tfstate            # Fichiers d'état
*.tfstate.*          # Backups de fichiers d'état

# Ignorer les fichiers de variables sensibles
*.tfvars             # Fichiers de variables
*.tfvars.json        # Fichiers de variables JSON

# Ignorer les fichiers de logs
crash.log            # Fichier de crash
*.log                # Autres fichiers de logs

# Ignorer les fichiers de plan
*.tfplan             # Plans sauvegardés par terraform plan -out=...

# Ignorer les fichiers de configuration d'override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorer les fichiers de configuration pour CLI
.terraformrc
terraform.rc